<div class="feed-view-container">
    <div *ngFor="let view of tradePosts">
        <div class="post-container">
            <div class="post-content-wrapper">
                <div class="post-header-content">
                    <img class="profile-picture" src="{{view.tradePost.profilePictureUrl}}">
                    <span class="name-span">{{view.tradePost.firstName}} {{view.tradePost.lastName}}</span>
                    <span class="username-span">&commat;{{view.tradePost.username}}</span>
                    <span>&#8226; {{getLapsedTime(view.tradePost.timestamp)}}</span>
                </div>
    
                <div class="post-content">
                    <div class="post-content-column">
                        <span>Ticker: {{view.tradePost.ticker}}</span>
                        <span>Position: {{view.tradePost.position}}</span>
                    </div>
                    <div class="post-content-column">
                        <span>Strikeprice: {{view.tradePost.strikeprice}}</span>
                        <span>Option: {{view.tradePost.option}}</span>
                    </div>
                </div>
                
                <div class="comment-container">
                    <span>Comment: {{view.tradePost.comment}}</span>
                </div>

                <div class="vote-container">
                    <div
                        class="vote-arrow-container"
                        [ngClass]="{'upvote': view.tradePost.userReaction == 'UPVOTE'}"
                        (click)="reactToPost(view.tradePost, 'UPVOTE')"
                    >
                        <mat-icon>keyboard_arrow_up</mat-icon>
                    </div>
                    <span>{{view.tradePost.votes}}</span>
                    <div
                        class="vote-arrow-container"
                        [ngClass]="{'downvote': view.tradePost.userReaction == 'DOWNVOTE'}"
                        (click)="reactToPost(view.tradePost, 'DOWNVOTE')"
                    >
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                </div>
                
                <div class="timestamp-container">
                    <span>{{getDateAndTime(view.tradePost.timestamp)}}</span>
                </div>
    
            </div>
            <button
                mat-raised-button color="warn"
                (click)="deleteTradePost(view)"
                *ngIf="isUserPost(view.tradePost)"
                class="delete-button"
                [disabled]="view.deleteWaiting"
            >
                <span *ngIf="!view.deleteWaiting">X</span>
                <mat-spinner *ngIf="view.deleteWaiting" diameter="20"></mat-spinner>
            </button>
        </div>
    </div>
</div>
