@import '../../../styles.scss';

.feed-view-container {
    margin-left: $menu-bar-width;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: calc(100vw - $menu-bar-width - $action-bar-width);
    align-items: center;
}

.post-container {
    margin: 0px 0px 20px 0px;
    border: 2px black solid;
    width: 600px;
    position: relative;
    background-color: #1b2730;
    border-radius: 30px;
}

.post-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.post-header-content {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;

    span {
        padding-left: 8px;
    }
}

.name-span {
    font-weight: bold;
}

.username-span {
    font-weight: bold;
    color: gray;
}

.post-content-column {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.post-content {
    display: flex;
}

.comment-container {
    padding: 10px 0px;
}

.timestamp-container {
    display: flex;
    justify-content: right;
    padding: 10px 0px 0px 0px;

    span {
        color: gray;
        font-weight: bold;
    }
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 1px;
    min-height: 1px;
}


.vote-container {
    display: flex;
    align-items: center;
}

.vote-arrow-container {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    justify-content: center;
    border: 2px gray solid;
    color: gray;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    margin: 0px 8px;

    mat-icon {
        transform: scale(1.5);
    }

    &:hover {
        @extend .vote-hover;
    }
}

.vote-hover {
    border: 2px black solid;
    color: black;
}

.upvote {
    background-color: green;
    @extend .vote-hover;
}

.downvote {
    background-color: red;
    @extend .vote-hover;
}

.write-comment-container {
    width: 300px;
}