@import '../../../styles.scss';

.feed-view-container {
    margin-left: $menu-bar-width;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: calc(100vw - $menu-bar-width - $action-bar-width);
    align-items: center;
}

.post-container {
    margin: 0px 0px 20px 0px;
    border: 2px black solid;
    width: 600px;
    position: relative;
    background-color: #1b2730;
    border-radius: 30px;
}

.post-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #ffffff;
}

.profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.post-header-content {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;

    span {
        padding-left: 8px;
    }
}

.name-span {
    font-weight: bold;
}

.username-span {
    font-weight: bold;
    color: gray;
}

.post-content-column {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.post-content {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;
}

.comment-container {
    padding: 10px 0px;
}

.timestamp-container {
    display: flex;
    justify-content: right;
    padding: 10px 0px 0px 0px;

    span {
        color: gray;
        font-weight: bold;
    }
}

.delete-button {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 1px;
    min-height: 1px;
}


.vote-container {
    display: flex;
    align-items: center;
    // background-color: red;
    width: 100%;
    justify-content: space-between;
    margin: 30px 0px 10px 0px;
}

.vote-arrow-container {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    justify-content: center;
    border: 2px gray solid;
    color: gray;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    margin: 0px 8px;

    mat-icon {
        transform: scale(1.5);
    }

    &:hover {
        @extend .vote-hover;
    }
}

.vote-hover {
    border: 2px black solid;
    color: black;
}

.upvote {
    background-color: rgb(69, 126, 69) !important;
    @extend .vote-hover;
}

.downvote {
    background-color: rgb(136, 52, 52) !important;
    @extend .vote-hover;
}

.write-comment-container {
    // width: 300px;
    width: 100%;
}

.write-comment-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.action-button {
    background-color: #28343e;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    // width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // margin-right: 10px;
    flex: 1;

    &:hover {
        background-color: #364755;
    }
}

.center-action-button {
    margin: 0px 7px;
}

.google-icon {
    margin: 0px 10px 0px 0px;
}

.voting-container {
    display: inline-flex;
    // background-color: red;
}

.info-header {
    font-size: 14px;
    color: #758391;
    margin-top: 8px;
}

.info-line {
    font-size: 18px;
    color: #bde1ff;
}

.info-pod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // margin-right: 100px;
}

.span-button {
    cursor: pointer;
}

.comments-container {
    margin: 30px 0px 0px 0px;
}

.user-comment-container {
    background-color: #28343e;
    border-radius: 20px;
    display: flex;
    margin-bottom: 10px;
}

.user-comment {
    margin: 5px 15px;
}


.comment-text-area {
    background-color: #28343e;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    padding: 20px 0px 0px 20px;
    font-size: 16px;
}


::placeholder {
    color: #ffffff !important;
}