<div class="page">
    <div class="form-container">
        <h1>Login Account</h1>
        <h2>
            Email:
            <input [(ngModel)]="loginDto.email">
        </h2>
        <h2>
            Password:
            <input [(ngModel)]="loginDto.password">
        </h2>
        <div>
            <span *ngIf="!successLogin" class="error-message">{{errorMessage}}</span>
            <span *ngIf="successLogin" class="success-message">Successful login!</span>
        </div>
        <div>
            <button (click)="login(loginDto)">Login</button>
            <a (click)="registerAccount()">Register an account</a>
        </div>
    </div>
</div>