$text-color: white;
$menu-bar-color: #1a1a1a;
$menu-bar-hover-color: #2e2e2e;

.menu-bar-div {
    background-color: $menu-bar-color;
    width: 250px;
    height: 100%;
}

.logo-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        color: $text-color;
    }
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.menu-button {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 0px;
    border-radius: 12px;
    color: $text-color;
    background-color: transparent;
    transition: background-color 0.5s ease;
    cursor: pointer;

    &:hover {
        background-color: $menu-bar-hover-color;
    }
}

.menu-icon-wrapper {
    width: 40px;
}