.page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.background-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: #06141d;
}